Importando as bibliotecas

In [1]:
import pandas as pd
import sqlite3

Conectando a base de dados de produção.

In [2]:
connect_db_imoveis = sqlite3.connect("../data/imoveis_prod.db")

Definindo a query para selecionar os dados.

In [3]:
query = r"""
        SELECT CIDADE.NOME as 'cidade'
       ,ESTADO.NOME as 'estado'
       ,IMOVEIS.AREA as 'area'
       ,IMOVEIS.NUM_QUARTOS
       ,IMOVEIS.NUM_BANHEIROS
       ,IMOVEIS.NUM_ANDARES
       ,IMOVEIS.ACEITA_ANIMAIS
       ,IMOVEIS.MOBILIA
       ,IMOVEIS.VALOR_ALUGUEL
       ,IMOVEIS.VALOR_CONDOMINIO
       ,IMOVEIS.VALOR_IPTU
       ,IMOVEIS.VALOR_SEGURO_INCENDIO

        FROM IMOVEIS INNER JOIN CIDADE
        ON IMOVEIS.CODIGO_CIDADE = CIDADE.CODIGO
        INNER JOIN ESTADO
        ON CIDADE.CODIGO_ESTADO = ESTADO.CODIGO;
        """

Selecionando os dados no banco de dados e criando o Dataframe.

In [4]:
dataset_df = pd.read_sql_query(
    query, 
    connect_db_imoveis
)

In [14]:
dataset_df.head()

,cidade,estado,area,num_quartos,num_banheiros,num_andares,aceita_animais,mobilia,valor_aluguel,valor_condominio,valor_iptu,valor_seguro_incendio
0,São Paulo,SP,70,2,1,7,1,1,3300,2065,211,42
1,São Paulo,SP,320,4,4,20,1,0,4960,1200,1750,63
2,Porto Alegre,RS,80,1,1,6,1,0,2800,1000,0,41
3,Porto Alegre,RS,51,2,1,2,1,0,1112,270,22,17
4,São Paulo,SP,25,1,1,1,0,0,800,0,25,11

Convertendo dados categóricos para numéricos.

In [6]:
dataset_df.aceita_animais.replace({'acept': 1, 'not acept':0}, inplace=True)

In [7]:
dataset_df.mobilia.replace({'furnished': 1, 'not furnished':0}, inplace=True)

Limpando os registros

In [10]:
dataset_df.num_andares.replace({'-': 1}, inplace=True)

In [11]:
dataset_df.cidade = dataset_df.cidade.str.title()

In [12]:
dataset_df.cidade.replace({ 
        'Sao Paulo': 'São Paulo',
        'Rio Janeiro': 'Rio de Janeiro' 
       },
            inplace=True
)